.cartlist1{
    width: 550px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    border: 2px solid white;
    color: white;
}
.cartlist{
    padding: 7%;
}

.cartlist1:hover{
    transform: scale(1.05);
    transition: 0.6s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px , rgba(0, 0, 0, 0.3) 0px 30px 60px -30px , rgba(10, 37, 64, 0.35) 0px -2px 6px 0px ;
}
.cartlist2 img{
    height: 400px;
    width: 300px;
}
.cartlist3{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}
.cartlist3 button{
    width: 100px;
    font-size: 18px;
    padding: 7px;
    margin: 10px;
    background-color: palevioletred;
    cursor: pointer;
}
.quantity button{
    width: 30px;
    border: none;
    background-color: palevioletred;
    border-radius: 10px;

}